.defaultApp {
    background-color: #ffffff;
    background-image: linear-gradient(20deg, #c2e7ff 0%, #adaeff 100%);
}

.drizzleApp {
    background-color: #637886;
    background-image: linear-gradient(135deg, #89949b 0%, #b0b1d8 100%);
}

.clearApp {
    background-color: #FBAB7E;
    background-image: linear-gradient(70deg, #2075ad 0%, #fff5dc 100%);
    animation: bg-animation 1s infinite alternate;
}

.cloudsApp {
    background-color: #424a50;
    background-image: linear-gradient(135deg, #4f606b 0%, #b2bccc 100%);
    animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    };
    100% {
        background-position: right;
    };
  }