body {
    background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
    font-size: 14px;
    color: rgb(207, 207, 207);
    display:block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(204, 204, 204, 0.288);
    margin-bottom: -3px;
}

sup {
    font-size: 25px;
    opacity: 80%;
}

b {
    font-size: 40px;
}

u {
    font-size: 13px;
    margin-left: 10px;
    text-decoration: none;
    opacity: 50%;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

u:hover {
    opacity: 80%;
}

.appContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

#genericApp {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    padding: 16px;
    border-radius: 16px;
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    box-shadow: 00px 2px 64px rgb(107, 93, 105);
    transition: 0.1s;
}

.dateTime {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    position: absolute;
    float: right;
    width: 200px;
    height: 360px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    align-items: center;
    align-content: center;
    text-align: center;
    opacity: 90%
}

.localContainer {
    font-size: 25px;
    position: relative;
    padding: 10px 10px 10px 10px;
    color: #fff;
    display:block;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 62px;
}

/*.localContainer span {
    font-size: 14px;
    color: rgb(207, 207, 207);
    display:block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(204, 204, 204, 0.288);
    margin-bottom: -3px;
}*/

.mainContainer {
    font-size: 20px;
    color: #fff;
    /*margin-top: 45px;*/
    margin-left: 10px;
    margin-right: 15px;
}

.tempContainer {
    font-size: 20px;
    color: #fff;
    /*margin-top: 10px;*/
    margin-left: 10px;
    margin-right: 10px;
}